@charset "UTF-8";

/* Import the Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;700&family=Ubuntu&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0px;
}
.login-container {
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.login-text {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/fundoBack.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.63);

    transition: background-position 1s;
    animation: slide 30s linear alternate-reverse;
    animation-iteration-count: infinite;
    
}
.login-text-content h2 {
    margin: 10px;
    font-size: 42px;
}
.login-text-content p {
    margin: 10px;
    font-size: 23px;

   
}
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex: 1;
}

.sign-up-form {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex: 1;
}

.login-form-content,
.sign-up-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 70%;
}
.login-form-content img {
    align-self: center;
    margin-bottom: 35px;
}
.login-form-content a,
.sign-up-form-content a {
    
    align-self: flex-end;
    text-decoration: none;
    color: #0000ffcc;
    margin-bottom: 20px;
}
.login-form-content a:hover, 
.sign-up-form-content a:hover {

    color: #00B7BC;
}
.login-form-content form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.login-form-content img {
    align-self: center;
    margin-bottom: 15px;

}
.sign-up-form-content h3{
    margin-bottom: 30px;
    font-weight: bold;
}
.sign-up-form-content img {
    display: flex;
    margin: auto;
    margin-bottom: 100px;
}

form input {
    width: 97%;
    margin-bottom: 10px;
    padding: 8px;
    border: solid 1px #CCCCCC;
    border-radius: 5px;
    color: rgb(97, 96, 96);
}
form button {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, #0B9DCA 0%, #00B7BC 100%);
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.096);
}
form button:hover {
    background: linear-gradient(180deg, #0B9DCA 0%, #00B7BC 100%);
}
.login-form-devider {
    columns:  rgb(189, 189, 189);
    border-bottom: solid 1px rgb(189, 189, 189);
    align-items: stretch;
}
.login-form-devider div {
    position: relative;
    width: 150px;
    top: 10px;
    left: calc(50% - 75px);
    text-align: center;
    background-color: white;
    
}
.login-form-google {
    margin-top: 40px;
    display: flex;
    justify-content: center; 
    width: 100%;
    height: 50px;
}
#google-container {
    display: flex;  
    align-items: center;
    justify-content: center;
    width: 100%;
    border: solid 1px rgb(228, 228, 228);
    border-radius: 5px;
    padding: 20px;
}
#google-icon{
    background-image: url(../images/google.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
.login-form-subscribe,
.sign-up-form-subscribe {
    text-align: center;
}
#github {
    text-align: center;
    padding-top: 50px;
}

.error {
    border-color: red !important; 
}

/*Animação GB*/
@keyframes slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }    
}

@media only screen and (max-width: 600px) {
    .login-container {
        flex-direction: column;

    }
    .login-text {
        flex: 3;
    }
    .login-text-content h2 {
        font-size: 1.6em;
    }
    .login-text-content p {
        font-size: 1.1em;
    }
    .login-form {
        flex: 3;
    }
    .login-form-content,
    .sign-up-form-content {
        min-width: 90%;
    }
    #github {
        text-align: center;
        padding-top: 50px;
    }
}